.addTask {
    background-color: #ffffff;
    width: 100%;
}

.addTask__title {
    margin: 0;
    padding: 25px;
}

.addTask__form {
    padding: 25px;
    display: flex;
    border-top: 1px solid #ededed;
}

@media screen and (max-width: 1000px){
    .addTask__form {
        display: block;
    }
}

.addTask__input {
    width: 80%;
    height: 55px;
    padding: 5px 5px 5px 10px;
    margin-right: 20px;
    font-size: 25px;
    border: 1px solid #ededed;
}

@media screen and (max-width: 1000px){
    .addTask__input {
        width: 100%;
    }
}

.addTask__addButton {
    width: 20%;
    height: 55px;
    margin: 0 0 0 auto;
    font-size: 25px;
    background-color: #007382;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .addTask__addButton {
        margin-top: 20px;
        width: 100%;
    }
}
