html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f0f0f0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}