.taskList {
    margin-top: 10px;
    background-color: #ffffff;
}

.taskList__title {
    margin: 0;
    padding: 25px;
}

.taskList__list {
    padding: 25px;
    margin: 0;
    border-top: 1px solid #ededed;
}

.taskList__task {
    align-items: center;
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
}

.taskList__button {
    color: #008000;
    background-color: #008000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.taskList__button:hover {
    background-color:#00ff00;
    color: #00ff00;
}

.taskList__button--checked.taskList__button--checked {
    color: #ffffff;
}

.taskList__taskName {
    align-items: center;
    font-size: 20px;
    padding: 10px;
    display: flex;
    width: 100%;
    word-break: break-word;
}

.taskList__taskName--done {
    color: #555555;
    text-decoration: line-through black;
}

.taskList__button--remove {
    color: #ffffff;
    background-color: #ff0000;
    font-weight: bold;
}
.taskList__button--remove:hover {
    color: #ffffff;
    background-color: #ff5050;
}